<div>

    <optinomic-content-block title="Druckvorlagen" subtitle="PDF" id="pdf_druckvorlagen">
        <p v-text="pdf_ready"></p>
        <p>Druckvorlagen</p>
        <optinomic-pdfmake :header-left="patient_data.extras.full_name"
            :footer-left="pdf_einladung_pa.title + ' :: ' + pdf_einladung_pa.name" header-right="Klinik Südhang"
            document-title="pdf_einladung_pa.title + ' - ' + pdf_einladung_pa.name" :content="pdf_einladung_pa.content"
            hide-logo>
        </optinomic-pdfmake>
        <optinomic-pdfmake :header-left="patient_data.extras.full_name"
            :footer-left="pdf_notizblatt.title + ' :: ' + pdf_notizblatt.name" header-right="Klinik Südhang"
            document-title="pdf_notizblatt.title + ' - ' + pdf_notizblatt.name" :content="pdf_notizblatt.content"
            hide-logo>
        </optinomic-pdfmake>
    </optinomic-content-block>

</div>