<div v-on:click="showState">

    <div v-if="!pdf_finished">

        <div v-if="pdf_building" class="d-flex flex-row justify-space-between align-center mr-4">
            <p v-text="pdf_status"></p>

            <div v-for="index in this.pdf_create_count" :key="index" style="margin-top:-12px;">
                <v-badge color="green" dot> </v-badge>
            </div>
            <div v-for="index in data_apps_array.length - this.pdf_create_count" :key="index" style="margin-top:-12px;">
                <v-badge color="blue" dot> </v-badge>
            </div>

        </div>
        <div v-else class="d-flex flex-row justify-space-between align-center mr-4">
            <p v-text="pdf_status"></p>

            <div v-for="app in data_apps_array" style="margin-top:-12px;">
                <v-badge v-if="(app.init === true) && (app.loaded !== true)  && (app.pdf_created !== true)" color="grey"
                    dot> </v-badge>
                <v-badge v-if="(app.init === true) && (app.loaded === true)  && (app.pdf_created !== true)" color="blue"
                    dot></v-badge>
            </div>
        </div>

    </div>
    <div v-else>
        <optinomic-pdfmake :header-left="patient_secure" :footer-left="title" header-right="Klinik Südhang"
            :document-title="title" :content="pdf_content" hide-logo></optinomic-pdfmake>
    </div>
</div>