<div>
    <v-tooltip left>
        <template v-slot:activator="{ on }">
            <span v-on="on" style="float:right;">
                <v-btn @click="copyClipboard" icon color="indigo">
                    <v-icon>mdi-content-copy</v-icon>
                </v-btn>
            </span>
        </template>
        <span>Kopiere in die Zwischenablage.</span>
    </v-tooltip>

    <p class="text--primary body-1" v-text="text">optinomic-clipboard-text</p>

    <input type="hidden" id="clipboard-text" :value="text">
    
    <v-snackbar v-model="snackbar" :timeout="timeout" :color="alert_color">
        <span v-text="alert_text"></span>
    </v-snackbar>
</div>